/* .transactionHistory {
  border: 1px solid black;
} */

.parametresItem {
  padding: 15px;
  border-radius: 5px;
}

.parametresList {
  background-color: rgba(0, 0, 0, 0.747);
  color: white;
  text-align: center;
}

.parametresType {
  composes: parametresItem;
  text-align: left;
  text-transform: uppercase;
}

.parametresList:nth-child(odd) {
  background: rgba(0, 0, 0, 0.603);
}

.headerList {
  font-size: 25px;
}

.headerListItem {
  padding: 15px;
}
